<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Novo produto" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="openNew()"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="products" [rows]="10" [paginator]="true"
        [globalFilterFields]="['name','price','variety','receivingDate', 'shippingDate', 'batch', 'weight']"
        [tableStyle]="{'min-width': '75rem'}" [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Exibindo {first} até {last} de {totalRecords} produto(s)" [showCurrentPageReport]="true">
        
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" style="min-width:15rem">Nome<p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="price">Preço<p-sortIcon field="price"></p-sortIcon></th>
                <th pSortableColumn="variety" style="min-width:10rem">Variedade<p-sortIcon field="variety"></p-sortIcon>
                </th>
                <th pSortableColumn="receivingDate">Data de Recebimento<p-sortIcon field="receivingDate"></p-sortIcon>
                </th>
                <th pSortableColumn="shippingDate">Data de exportação<p-sortIcon field="shippingDate"></p-sortIcon></th>
                <th pSortableColumn="batch" style="min-width:10rem">Lote<p-sortIcon field="batch"></p-sortIcon></th>
                <th pSortableColumn="weight">Peso<p-sortIcon field="weight"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.price | currency:'BRL'}}</td>
                <td>{{product.variety}}</td>
                <td>{{product.receiptDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{product.shippingDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{product.batch}}</td>
                <td>{{product.weight}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                        (click)="editProduct(product)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteProduct(product)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Tem-se no total {{products ? products.length : 0 }} produto(s).
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="productDialog" header="Editar ou adicionar produtos" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field col">
            <label for="name">Nome</label>
            <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus />
            <small class="p-error" *ngIf="submitted && !product.name">Name is required.</small>
        </div>

        <div class="field col">
            <label for="variety">Variedade</label>
            <input type="text" pInputText id="variety" [(ngModel)]="product.variety" required autofocus />
            <small class="p-error" *ngIf="submitted && !product.variety">Variety is required.</small>
        </div>

        <div class="field col">
            <label for="price">Preço</label>
            <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="BRL"
                locale="pt-BR"></p-inputNumber>
                <small class="p-error" *ngIf="submitted && !product.price">Price is required.</small>
        </div>

        <div class="field col">
            <label for="receiptDate">Data de Recebimento</label>
            <input type="text" pInputText id="receiptDate" [(ngModel)]="product.receiptDate" required autofocus />
            <small class="p-error" *ngIf="submitted && !product.receiptDate">Receipt Date is required.</small>
        </div>

        <div class="field col">
            <label for="shippingDate">Data de Exportação</label>
            <input type="text" pInputText id="shippingDate" [(ngModel)]="product.shippingDate" required autofocus />
            <small class="p-error" *ngIf="submitted && !product.shippingDate">Receipt Date is required.</small>
        </div>

        <div class="field col">
            <label for="batch">Lote</label>
            <p-inputNumber id="batch" [(ngModel)]="product.batch" locale="pt-BR"></p-inputNumber>
                <small class="p-error" *ngIf="submitted && !product.batch">Batch is required.</small>
        </div>

        <div class="field col">
            <label for="weight">Peso</label>
            <p-inputNumber id="weight" [(ngModel)]="product.weight" locale="pt-BR"></p-inputNumber>
                <small class="p-error" *ngIf="submitted && !product.weight">Weight is required.</small>
        </div>
        
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>