.app-card {
    &__form {
        &__input {
            width: 100%;

            input,
            p-inputMask>input,
            p-dropdown>input {
                width: 100%;
            }

            label {
                color: #6c757d !important;
            }

            small {
                position: absolute;
                top: 100%;
                left: 0;
            }
        }
    }
}
