<form class="app-card" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="surface-card p-4 shadow-2 border-round app-card__form">
        <div class="text-center mb-5">
            <!--img src="assets/images/blocks/logos/hyper.svg" alt="Image" height="50" class="mb-3"-->
            <div class="text-900 text-3xl font-medium mb-3">Bem vindo(a) de volta!</div>
            <span class="text-600 font-medium line-height-3">Ainda não tem uma conta?</span>
            <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" href="/register">Cadastre-se!</a>
        </div>

        <div>
            <span class="p-float-label app-card__form__input mb-5">
                <input id="float-label" formControlName="username" type="text" placeholder="Nome de usuário" pInputText
                    class="w-full" required minlength="3" maxlength="50" aria-describedby="username-help">
                <label for="float-label" class="block text-900 font-medium mb-2">Nome de usuário</label>
                <small
                    *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)"
                    id="username-help" class="p-error">Campo obrigatório com no mínimo 3 caracteres.</small>
            </span>
            <span class="p-float-label app-card__form__input mb-4">
                <input id="float-label" formControlName="password" type="password" placeholder="Senha" pInputText
                    class="w-full" required>
                <label for="float-label" class="block text-900 font-medium mb-2">Senha</label>
                <small
                    *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
                    id="username-help" class="p-error">Campo obrigatório com no mínimo 4 caracteres.</small>
            </span>
            <div class="flex align-items-center justify-content-between mb-4">
                <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Esqueceu a
                    senha?</a>
            </div>
            <button (click)="onSubmit()" pRipple [disabled]="loading" pButton type="button" icon="pi pi-user"
                class="w-full" label="Entrar">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            </button>
        </div>

    </div>
</form>