.app-card {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;

    &__form {
        width: 50vw;

        &__input {
            width: 100%;

            input {
                width: 100%;
            }

            label {
                color: #6c757d !important;
            }

            small {
                position: absolute;
                top: 100%;
                left: 0;
            }
        }
    }

}