$nav-breakpoint: 1025px;

:host {
    background-color: #FEFEFE;
}

.sidebar {
    $p: '.sidebar';

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 72px;
    height: calc(100vh - 70px);
    border-radius: 0 0.375rem 0.375rem 0;
    border: 1px solid rgba(0, 0, 0, 0.175);
    background-color: #FEFEFE;
    transition: width 0.2s ease;
    padding: 0;

    @media (min-width: $nav-breakpoint) {
        width: 310px;
    }

    &--mini {
        width: 72px;
        z-index: 10;

        #{$p}__button-menu {
           display: flex !important;
           align-items: center;
           justify-content: center;
        }

        #{$p}__button--close,
        #{$p}__heading,
        #{$p}__label {
            display: none !important;
        }

        #{$p}__header {
            width: 72px;
            justify-content: center;
        }

        @media (min-width: $nav-breakpoint) {
            #{$p}__link {
                grid-template-columns: 72px;
            }
        }
    }

    &--opened {
        width: 310px;
        position: fixed;
        z-index: 10;
        //top: 64px;

        #{$p}__button--menu {
            display: none !important;
        }

        #{$p}__button--close,
        #{$p}__heading {
           display: flex !important;
           align-items: center;
           justify-content: center;
        }

        #{$p}__label {
            display: flex !important;
        }

        #{$p}__header {
            width: 310px;
            justify-content: space-between;
            align-items: center;
        }

        #{$p}__link {
            grid-template-columns: 62px calc(100% - 62px);
        }

        & + div {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.3);
            z-index: 5;
        }
    }

    &__header {
        display: flex;
        justify-content: center;
        flex-basis: 56px;
        padding: 16px;
        border-bottom: 1px solid #F2F3F6;
        color: #4CAF50;

        @media (min-width: $nav-breakpoint) {
            justify-content: space-between;
        }
    }

    &__heading {
        font-weight: 700;
        font-size: 18px;
        line-height: 21.6px;
        display: none;

        @media (min-width: $nav-breakpoint) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__button {
        &--menu {
            //color: #313338;
            display: flex !important;
            align-items: center;
            justify-content: center;

            @media (min-width: $nav-breakpoint) {
                display: none !important;
            }
        }

        &--close {
            //color: #888D95;
            display: none !important;

            @media (min-width: $nav-breakpoint) {
                display: flex !important;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &__content {
        flex-grow: 1;
        overflow-x: hidden;
    }

    &__items {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        //overflow-y: scroll;
    }

    &__item {
        display: flex;
        height: 72px;
        border-bottom: 1px solid #F2F3F6;
    }

    &__link {
        display: grid;
        //grid-template-columns: 72px;
        align-items: center;
        width: 100%;
        height: 72px;
        text-decoration: none;

        @media (min-width: $nav-breakpoint) {
            grid-template-columns: 62px calc(100% - 62px);
        }

        &:hover {
            background-color: #F4F5F7;

            #{$p}__icon {
                background-color: #F4F5F7;
            }
        }

        &:active {
            background-color: #D4D8DD;

            #{$p}__icon {
                background-color: #D4D8DD;
            }
        }
    }

    &__link--active {

        #{$p}__title {
            color: #4CAF50;
        }

        #{$p}__icon {
            //color: #fff;
            //background-color: #4CAF50;
            width: 34px;
            height: 34px;
            border-radius: 50%;
        }

        &:hover {
            #{$p}__icon {
                background-color: rgba(76, 175, 80, 0.175);
            }
        }
    }

    &__icon-content {
        display: flex;
        justify-content: center;
        color:#4CAF50;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        color:#4CAF50;
    }

    &__label {
        display: none;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 72px;
        position: relative;
        left: -5px;

        @media (min-width: $nav-breakpoint) {
            display: flex;
        }
    }

    &__title {
        //color: #111214;
        font-size: 16px;
        font-style: normal;
    }

    &__description {
        //color: #111214;
        font-size: 12px;
        line-height: 13.5px;
        font-style: normal;
        margin-top: 4px;
    }
}