<nav class="sidebar" [ngClass]="[menuOpened ? '' : '', showMenu ? 'sidebar--mini': '']" #sidebar>
    <header class="sidebar__header">
        <button pButton type="button" class="sidebar__button sidebar__button--menu" (click)="toggle()">
            <i class="pi pi-align-justify"></i>
        </button>
    </header>
    <p-sidebar [(visible)]="menuOpened">
        <div class="sidebar__heading">Menu</div>
        <ul>
            <ng-container *ngFor="let item of items">
                <li class="sidebar__item">
                    <a routerLink="/painel" [routerLinkActive]="['sidebar__link--active']" class="sidebar__link">
                        <div class="sidebar__icon-content">
                            <i [class]="item.icon"></i>
                        </div>
                        <div class="sidebar__label">
                            <div class="sidebar__title">{{ item.label }}</div>
                            <div class="sidebar__description"></div>
                        </div>
                    </a>
                </li>
            </ng-container>
        </ul>
    </p-sidebar>

</nav>